<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJfw203W_lXYri_TPA6XL4nrn03D1IfGI</string>
	<key>GCM_SENDER_ID</key>
	<string>879152141283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huddlconnect.huddlConnect</string>
	<key>PROJECT_ID</key>
	<string>huddl-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>huddl-connect.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879152141283:ios:bdac2f6012c53a8d9186d6</string>
</dict>
</plist>